.rbc-day-bg.rbc-today {
  z-index: -1;
  height: 100%;
  background-color: lightblue;
}
.rbc-off-range {
  color: #999999;
}
.rbc-timeslot-group {
  border-bottom: 1px solid #f7f7f7;
  min-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}
.rbc-time-header > .rbc-row:first-child {
  border-bottom: 1px solid #f7f7f7;
}
.rbc-time-header > .rbc-row.rbc-row-resource {
  border-bottom: 1px solid #f7f7f7;
}
.rbc-day-slot .rbc-time-slot {
  border-top: 1px solid #f7f7f7;
}
.rbc-day-slot .rbc-time-slot {
  border-top: 0;
}
.rbc-timeslot-group {
  border-bottom: 1px solid lightgray;
}
.rbc-current-time-indicator {
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  height: 1px;
  background-color: red;
  pointer-events: none;
}
.rbc-day-bg::after {
  border-radius: 10px;
}
.rbc-month-view {
  border-radius: 10px;
}
.rbc-month-view .rbc-month-row {
  border-bottom-right-radius: 10px;
}

.rbc-time-view {
  border-radius: 10px;
}
.rbc-timeslot-group:nth-child(12) {
  border-bottom: none;
}
.rbc-time-gutter.rbc-time-column
  + .rbc-day-slot.rbc-time-column.rbc-now.rbc-today {
  border-bottom-right-radius: 10px;
}
.rbc-day-bg.rbc-today:nth-child(1) {
  border-top-right-radius: 10px;
}
.react-calendar__month-view__days__day,
.react-calendar__navigation button,
.react-calendar__month-view__weekdays__weekday {
  color: black;
}
.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}
